<header>
    <mat-toolbar color="primary">
            <h1>Football</h1>


            <nav class="nav-align">
                <a mat-button routerLink="/accueil">
                    Accueil
                </a>
                <a mat-button routerLink="/clubs">
                    Club   
                </a>
                <a mat-button routerLink="/championnats">
                    Championnat
                </a>
                <a mat-button routerLink="/rencontre">
                    Rencontre
                </a>
            </nav>
          
    </mat-toolbar>
   <!--  <nav class="nav">
        <div>
            <h1 class="nav-title"> Le foot</h1>
        </div>
        <ul class="nav-list">
            <li class="nav-link">
            <a routerLink="/accueil">accueil</a>
            </li>
        <li class="nav-link">
            <a routerLink="/clubs">club</a>
        </li>
        <li class="nav-link">
            <a routerLink="/championnats">championnat</a>
        </li>
        </ul>
    </nav> -->
</header>


