<ng-template #loading>
    <div>
        <p>loading...</p>
    </div>
</ng-template>
<div *ngIf="championnat; else loading">
    <h3>{{championnat.nom}} - {{championnat.pays}}</h3>
    <h4 class="saison">{{championnat.saison}}</h4>




<h3>Equipes participantes: {{championnat.nbEquipes}} </h3>
<table >
        <tr>
            <th>Nom</th>
            <th>Date création</th>
            <th>Nom de stade</th>

        </tr>
    
        <ng-container  *ngFor="let club of championnat.clubs!" >
            <tr>
                <td>{{club.nom }} </td>
                <td>{{club.dateCreation }} </td>
                <td>{{club.nomStade }} </td>

            </tr>
        </ng-container>
    </table>



</div>

<h4>Classement</h4>