body{
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .wrapper {
      width:40%;
      margin-top:40px;
      padding:5px 10px;
      background-color:#17191F;
      border-radius:5px;
    }
    
    .campo {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      height: 0;
      margin: 10px auto;
      padding: 0 0 60% 0;
      /*background: green;*/
      /*background-color: rgb(27,31,38);*/
      background-color: #17191F;
    }
    
    .interior, .divisoria,
    .semi1, .semi2,
    .corner {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      margin: auto;
      border: 1px solid #323642;
    }
    
    .divisoria:after, .divisoria:before {
      content: "";
      position: absolute;
      left: 50%;
      display: block;
      width: 0;
      height: 100%;
      margin-left: .5px;
      border: 0.5px solid #323642;
    }
    .divisoria:before {
      top: 50%;
      width: 17%;
      height: 0;
      margin: -8% 0 0 -8%;
      margin-top: calc(-8% - 4px);
      margin-left: calc(-8% - .5px);
      padding-bottom: 17%;
      border-radius: 50%;
      border: 1px solid #323642;
    }
    
    .campo:before, .campo:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 1px;
      margin: -8% 0 0 -1px;
      display: block;
      width: 8%;
      height: 30%;
      border: 1px solid #323642;
      z-index: 2;
    }
    
    .campo:after {
      left: auto;
      right: -2px;
    }
    
    .interior:before, .interior:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      margin: -16% 0 0 -1px;
      display: block;
      width: 16%;
      height: 55%;
      /*background: rgb(27,31,38);*/
      background-color: #17191F;
      border: 1px solid #323642;
    }
    
    .interior:after {
      left: auto;
      right: 0;
      margin: -16% -1px 0 0;
    }
    
    .semi2:before {
      left: auto;
      right: 12%;
    }
    
    .semi1:after, .semi2:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 5%;
      width: 16%;
      height: 0;
      margin: -8% 0 0 0;
      padding-bottom: 16%;
      border: 1px solid #323642;
      border-radius: 50%;
    }
    .semi2:after {
      left: auto;
      right: 5%;
    }
    
    .p1{
      content: "";
      position: absolute;
      top: 48%;
      left: 2%;
      display: block;
      width: 5%;
      height: 8,5%;
      background-color: #FFF;
      border: 1px solid #324978;
      border-radius: 50%;
      z-index: 2;
    }
    
    .p2{
      content: "";
      position: absolute;
      top: 10%;
      left: 14%;
      display: block;
      width: 5%;
      height: 8,5%;
      background-color: #FFF;
      border: 1px solid #324978;
      border-radius: 50%;
      z-index: 2;
    }
    
    .p3{
      content: "";
      position: absolute;
      top: 48%;
      left: 14%;
      display: block;
      width: 5%;
      height: 8,5%;
      background-color: #FFF;
      border: 1px solid #324978;
      border-radius: 50%;
      z-index: 2;
    }
    
    .p4{
      content: "";
      position: absolute;
      top: 85%;
      left: 14%;
      display: block;
      width: 5%;
      height: 8,5%;
      background-color: #FFF;
      border: 1px solid #324978;
      border-radius: 50%;
      z-index: 2;
    }
    
    .p5{
      content: "";
      position: absolute;
      top: 10%;
      left: 30%;
      display: block;
      width: 5%;
      height: 8,5%;
      background-color: #FFF;
      border: 1px solid #324978;
      border-radius: 50%;
      z-index: 2;
    }
    
    .p6{
      content: "";
      position: absolute;
      top: 48%;
      left: 30%;
      display: block;
      width: 5%;
      height: 8,5%;
      background-color: #FFF;
      border: 1px solid #324978;
      border-radius: 50%;
      z-index: 2;
    }
    
    .p7{
      content: "";
      position: absolute;
      top: 85%;
      left: 30%;
      display: block;
      width: 5%;
      height: 8,5%;
      background-color: #FFF;
      border: 1px solid #324978;
      border-radius: 50%;
      z-index: 2;
    }
    
    .p8{
      content: "";
      position: absolute;
      top: 10%;
      left: 49%;
      display: block;
      width: 5%;
      height: 8,5%;
      background-color: #FFF;
      border: 1px solid #324978;
      border-radius: 50%;
      z-index: 2;
    }
    
    .p9{
      content: "";
      position: absolute;
      top: 48%;
      left: 49%;
      display: block;
      width: 5%;
      height: 8,5%;
      background-color: #FFF;
      border: 1px solid #324978;
      border-radius: 50%;
      z-index: 2;
    }
    
    .p10{
      content: "";
      position: absolute;
      top: 85%;
      left: 49%;
      display: block;
      width: 5%;
      height: 8,5%;
      background-color: #FFF;
      border: 1px solid #324978;
      border-radius: 50%;
      z-index: 2;
    }
    
    .p11{
      content: "";
      position: absolute;
      top: 10%;
      left: 67%;
      display: block;
      width: 5%;
      height: 8,5%;
      background-color: #FFF;
      border: 1px solid #324978;
      border-radius: 50%;
      z-index: 2;
    }
    
    .p12{
      content: "";
      position: absolute;
      top: 48%;
      left: 67%;
      display: block;
      width: 5%;
      height: 8,5%;
      background-color: #FFF;
      border: 1px solid #324978;
      border-radius: 50%;
      z-index: 2;
    }
    
    .p13{
      content: "";
      position: absolute;
      top: 85%;
      left: 67%;
      display: block;
      width: 5%;
      height: 8,5%;
      background-color: #FFF;
      border: 1px solid #324978;
      border-radius: 50%;
      z-index: 2;
    }
    
    .p14{
      content: "";
      position: absolute;
      top: 10%;
      left: 83%;
      display: block;
      width: 5%;
      height: 8,5%;
      background-color: #FFF;
      border: 1px solid #324978;
      border-radius: 50%;
      z-index: 2;
    }
    
    .p15{
      content: "";
      position: absolute;
      top: 48%;
      left: 83%;
      display: block;
      width: 5%;
      height: 8,5%;
      background-color: #FFF;
      border: 1px solid #324978;
      border-radius: 50%;
      z-index: 2;
    }
    
    .p16{
      content: "";
      position: absolute;
      top: 85%;
      left: 83%;
      display: block;
      width: 5%;
      height: 8,5%;
      background-color: #FFF;
      border: 1px solid #324978;
      border-radius: 50%;
      z-index: 2;
    }
    
    .p17{
      content: "";
      position: absolute;
      top: 27%;
      left: 90%;
      display: block;
      width: 5%;
      height: 8,5%;
      background-color: #FFF;
      border: 1px solid #324978;
      border-radius: 50%;
      z-index: 2;
    }

    .p18{
        content: "";
        position: absolute;
        top: 69%;
        left: 90%;
        display: block;
        width: 5%;
        height: 8,5%;
        background-color: #FFF;
        border: 1px solid #324978;
        border-radius: 50%;
        z-index: 2;
      }

    .center{
        display: flex;
        justify-content: center;
    }